.catalog {
  display: flex;
  width: 100%;
  justify-content: stretch;
  gap: 5.4rem;
}
.sidebar {
  width: 25.1rem;
  display: flex;
  flex-direction: column;
}

.products-main {
  flex: 1;
}

.products-main__header {
  display: flex;
  justify-content: space-between;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .products-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .products-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.prodoct-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23.5rem;
  height: 32rem;
  background-color: var(--secondary-color-light-active);
}

.product-card__header {
  height: 3.1rem;
  font-style: italic;
  color: var(--font-color);
}

.product-card_img-container {
  position: relative;
  height: 20.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prodoct-card__img {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  transition: 0.5s ease-in-out;
}

.prodoct-card__img:hover {
  position: absolute;
  scale: 2;
  z-index: 2;
}

.product-card__shoping-attributs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-card__counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
