.sorting-by-price__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: var(--catalog-header-btns-bg-color);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.sorting-by-price__input {
  width: 8rem;
  border: 0.2rem solid var(--main-background-color-light);
  border-radius: 0.5rem;
  transition: 0.5s ease-in-out;
}

.sorting-by-price__input:focus {
  outline: none;
  border-color: var(--main-color);
}

.sorting-by-price__button {
  padding: 0.2rem 0.5rem 0.3rem 0.6rem;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: 0.7s ease-in;
  border: 0.2rem solid var(--main-background-color-light);
  border-radius: 0.5rem;
  transition: 0.5s ease-in-out;
}

.sorting-by-price__button:hover {
  box-shadow: 0.1rem 0.1rem 0.2rem var(--main-color-light);
  background-color: var(--main-color-light);
  color: var(--secondary-color-light);
}

.sorting-by-price__button:active {
  box-shadow: inset 0.1rem 0.1rem 0.2rem var(--main-color-light);
  background-color: var(--main-color);
}
