.shoping-attributs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.current-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.current-price {
  color: var(--main-color);
  font-size: 2.4rem;
  white-space: nowrap;
  text-align: center;
}

.full-price {
  color: var(--secondary-color-light);
  text-decoration: line-through;
  white-space: nowrap;
  text-align: center;
  font-size: 1.4rem;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--secondary-color-light);
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  min-width: 5.8rem;
  height: 2.2rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--main-color);
}

.counter-data {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2.3rem;
  height: 2.2rem;
  flex-shrink: 0;
  border: 1px solid var(--main-color);
}

.basket,
.decrise-counter,
.incrise-counter {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s ease-in;
}

.decrise-counter,
.incrise-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  text-align: center;
}
.decrise-counter {
  padding-left: 0.1rem;
  padding-bottom: 0.2rem;
}

.incrise-counter {
  padding-right: 0.2rem;
  padding-top: 0.1rem;
}

.basket:hover {
  scale: 1.1;
}

.basket_svg path {
  fill: var(--secondary-color-light);
  transition: 0.5s ease-in;
}
.basket.active .basket_svg path {
  fill: var(--main-color);
}

.basket:hover .basket_svg path {
  fill: var(--secondary-color-light-active);
}

.basket.active:hover .basket_svg path {
  fill: var(--main-color-light);
}
