.user-bar {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding-left: 1rem;
  color: var(--secondary-color-light);
  font-size: 1.6rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-left: 0.2rem solid var(--secondary-color-light);
}

.burger .user-bar {
  border-left: none;
  padding-left: 0;
}

.user-bar__img {
  display: flex;
  cursor: pointer;
}

.user-bar__link {
  padding: 0 0.3rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--secondary-color-light);
  text-decoration: none;
  transition-duration: 0.3s;
}

.user-bar__link_active {
  display: none;
}

.user-bar__link:hover {
  text-decoration: underline;
  color: var(--secondary-color-light-active);
}

.user-bar:has(.user-bar__link_active) .user-bar__separator {
  display: none;
}

.user-bar__btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.6rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--secondary-color-light);
  transition-duration: 0.3s;
}

.user-bar__btn:hover {
  text-decoration: underline;
  color: var(--secondary-color-light-active);
}

.user-bar__info {
  position: absolute;
  display: none;
  top: 4rem;
  right: 0;
  color: var(--main-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.user-bar__img:hover ~ .user-bar__info {
  display: block;
  padding: 0.5rem 3rem;
  border-bottom: 0.2rem solid var(--main-color);
  background-color: var(--main-color-013);
}

.burger .user-bar__img:hover ~ .user-bar__info {
  display: none;
}
